<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find pacifica_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <!-- body -->
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/2.0} 0 ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/body.dae" scale="0.96 0.96 0.96" />
      </geometry>
    </visual>

    <!-- rearwheel 1 -->
    <visual>
      <origin xyz="0 ${vehicle_info['/**']['ros__parameters']['wheel_tread']/2.0} ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 3.1415926535 0" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <!-- rear wheel 2 -->
    <visual>
      <origin xyz="0 ${vehicle_info['/**']['ros__parameters']['wheel_tread']/-2.0} ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 3.1415926535 3.1415926535" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <!-- front wheel 1 -->
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/1.0} ${vehicle_info['/**']['ros__parameters']['wheel_tread']/2.0} ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 3.1415926535 0" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <!-- front wheel 2 -->
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/1.0} ${vehicle_info['/**']['ros__parameters']['wheel_tread']/-2.0} ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 3.1415926535 3.1415926535" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <!-- hood logo -->
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/2.0} 0 ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/hood_logo.dae" scale="0.96 0.96 0.96" />
      </geometry>
    </visual>

    <!-- door logo -->
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/2.0} 0 ${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pacifica_vehicle_description/mesh/door_logo.dae" scale="0.965 0.965 0.965" />
      </geometry>
    </visual>
  </link>
</robot>
